*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.header{
    width: 100%;

}

.top-bar{
    width: 100%;
    height: 50px;
    background-color: black;
}
.navbar{
    width: 100%;
    height: 10%;
    display: flex;
    background-color: grey;
    justify-content: center;
}
.the-list{
    border: 3px solid rgb(255, 111, 45);
    width: 10em;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    float: left;
    border-radius: 10px;
    background-color: white;
}
